<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" type="POST">
        <label for="name">Roll No:</label><br>
        <input type="text" id="roll" name="roll"><br>
        <label for="name">Full Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="lname">College Name:</label><br>
        <input type="text" id="cname" name="cname"><br>
        <label for="name">DOB:</label><br>
        <input type="text" id="dob" name="dob"><br>
        <label for="lname">EPTD mark:</label><br>
        <input type="text" id="eptd" name="eptd"><br>
        <label for="name">EM mark:</label><br>
        <input type="text" id="em" name="em"><br>
        <label for="lname">FOC mark:</label><br>
        <input type="text" id="foc" name="foc"><br>
        <label for="name">ED mark:</label>
        <input type="text" id="ed" name="ed"><br>
        <label for="lname">CS mark:</label><br>
        <input type="text" id="cs" name="cs"><br>
        <label for="lname">TOTAL:</label><br>
        <input type="text" id="total" name="total"><br>
        <label for="name">PERCENTAGE:</label>
        <input type="text" id="per" name="per"><br>
        <label for="lname">GRADE:</label><br>
        <input type="text" id="grade" name="grade"><br>
        <input type="submit" value="Submit">
      </form>
      <h1>{{msg}}</h1>
</body>
</html>